:root{
  --light-green-color:#E1EDE6;
  --font:"Raleway",sana-serif;
  --font-size-twenty:20px;
  --black-color: #2C2D35;
  --green-color:#376B44;
  --grey-color: #86928B;
  --font-size-eighteen: 19px;
  --font-wight-medium:500;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: var(--font);
}
.container{
  margin: 0 auto;
}
@media (min-widht: 1440px){
  .container{
    max-width: 1110px;
  }
  .header-link{
    font-size: var(--font-size-twenty);
  }
  .about-button{
    padding:19px 52px 19px 52px ;
  }
}
.header{
  background-color: var(--light-green-color);
  padding: 33px 0 32px 0;
}
.header-link{
  font-size: var(--font-size-twenty);
  color: var(--black-color);
  text-decoration: none;
  margin-right: 60px;
  font-weight: var(--font-wight-medium);
}
.header-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-button{
  border: none;
  background: none;
}
.header-links{
  display: flex;
  align-items: center;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-right{
  width: 540px;
}
.about-title{
  font-weight:var(--font-wight-medium) ;
}
.about-title span{
  color: var(--green-color);
}
.about-text{
  color: var(--grey-color);
  font-size: var(--font-size-eighteen);
  margin: 20px 0 60px 0;
}
.about-button{
    font-size:var(--font-size-twenty);
    color:var(--green-color);
    font-family: var(--font);
    border: 1px solid var(--green-color) ;
    background: none;
    font-weight: var(--font-wight-medium);
}





.content {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  #toggle_1 {
    display: none;
  }
  #toggle_2 {
    display: none;
  }
  #toggle_3 {
    display: none;
  }
  
  .first {
    display: block;
  }
  .second {
    display: none;
  }
  .third {
    display: none;
  }
  
  #toggle_1:checked ~ .first {
    display: none;
  }
  #toggle_2:checked ~ .second {
    display: block;
  }
  #toggle_3:checked ~ .third {
    display: block;
  }
  .toggle-label_1 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #376B44;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    height: 45px;
    width: 125px;
  }
  .toggle-label_2 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #376B44;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    height: 45px;
    width: 125px;
  }
  .toggle-label_3 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #376B44;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    height: 45px;
    width: 125px;
  }
 
.reprodukcui{
  display: flex;
}