header{
    background-color: #E1EDE6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: #598D66;
    font-size: 20px ;
    text-align: center;
}
.logo{
    display: flex;
    text-align: center;
}
a{
    color: #2C2D35;
    text-decoration:none;
    margin: 40px 40px 40px 40px;
    text-align: center;
    font-size: 18px;
}
.list_1_text{
    float: right;
    width: 45%;
    position: relative;
    top:50%;
}
h2{
    color: #2C2D35;
    font-size: 40px;
}
span{
    color: #598D66;
    font-size: 40px;
}
.h2_span{
    width: 40%;
}
.text_1{
    color: #86928B;
    font-size:18px;
    width: 35%;
}
.button_1{
    font-size:20px;
    color: #598D66;
    border: 2px solid #598D66 ;
    padding:19px 52px 19px 52px ;
}


.content {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  #toggle_1 {
    display: none;
  }
  #toggle_2 {
    display: none;
  }
  #toggle_3 {
    display: none;
  }
  
  .first {
    display: block;
  }
  .second {
    display: none;
  }
  .third {
    display: none;
  }
  
  #toggle_1:checked ~ .first {
    display: none;
  }
  #toggle_2:checked ~ .second {
    display: block;
  }
  #toggle_3:checked ~ .third {
    display: block;
  }
  .toggle-label_1 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #376B44;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  .toggle-label_2 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #376B44;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  .toggle-label_3 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #376B44;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
 
.reprodukcui{
  display: flex;
}